  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .btn {
    font-family: 'QuickSand';
  }

.home-container {
    background-color: #fff8e1;
    height: 100dvh; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;
  }
  
  .logout-container {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 2rem 0 0;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    text-align: center;
    padding: 0;
  }
  
  .cat-image {
    max-width: 300px;
    margin-bottom: 0;
  }
  
  .logout-button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #9a9691;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .ready-text {
    font-family: 'QuickSand';
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 0;
  }
  .hello-text {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0.2rem;
  }

  .main-title {
    font-size: 3rem;
  }

  .profile-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  
  .profile-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.2s ease;
  }
  
  .profile-icon:hover {
    transform: scale(1.1);
  }
