*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.timer-container {
    background-color: #fff8e1;
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .progress-ring {
    transform: rotate(-90deg);
    overflow: visible;
  }
  .circle-wrapper {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ring-bg,
  .ring-progress {
    fill: none;
    stroke-width: 16;
  }
  
  .ring-bg {
    stroke: #444343;
  }
  
  .ring-progress {
    stroke: rgb(228, 74, 74);
    stroke-linecap: round;
    transition: stroke-dashoffset 0.3s linear;
  }
  
  .time-text {
    fill: #7b3f00;
    font-size: 3rem;
    font-family: 'QuickSand';
    transform: rotate(90deg); /* fix the flipped text from svg rotate */
  }
  
  .timer-display {
    font-family: 'QuickSand';
    font-size: 6rem;
    color: #7B3F00;
    margin-bottom: 2rem;
  }
  .time-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #7b3f00;
    font-size: 3rem;
    font-family: 'QuickSand';
    text-align: center;
    z-index: 1;
    line-height: 1;
  }
  
  .timer-button {
    padding: 12px 24px;
    font-size: 1.25rem;
    background-color: #e08e8e;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'QuickSand';
  }
  .timer-page {
    display: flex;
    height: 100dvh;
    width: 100%;
    background-color: #fff8e1;
  }
  
  .timer-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center; 
    gap: 2em;
  }
  
  .timer-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* You can add your cat image here later */
  }

  